<footer class="footer">
  <div class="container is-mas-desktop">
    <ul class="columns is-centered is-mobile">
      <li class="column is-narrow">
        <a
          class="button is-primary is-outlined"
          href="{{ socialMedia.GITHUB.url }}"
          title="{{ socialMedia.GITHUB.titlePt }}"
          target="_blank"
          rel="noreferrer"
        >
          {% include partials/icon, icon: socialMedia.GITHUB.icon %}
        </a>
      </li>

      <li class="column is-narrow">
        <a
          class="button is-primary is-outlined"
          href="{{ socialMedia.LINKEDIN.url }}"
          title="{{ socialMedia.LINKEDIN.titlePt }}"
          target="_blank"
          rel="noreferrer"
        >
          {% include partials/icon, icon: socialMedia.LINKEDIN.icon %}
        </a>
      </li>

      <li class="column is-narrow">
        <a
          class="button is-primary is-outlined"
          href="{{ socialMedia.TWITTER.url }}"
          title="{{ socialMedia.TWITTER.titlePt }}"
          target="_blank"
          rel="noreferrer"
        >
          {% include partials/icon, icon: socialMedia.TWITTER.icon %}
        </a>
      </li>
    </ul>

    <p class="has-text-centered">Feito com <a class="link" href="https://www.11ty.dev/" title="Visite o site do Eleventy.js, uma solução de Static Site Generator">Eleventy</a> e <a class="link" href="storyblok.com" title="Visite o site da plataforma de Headless CMS Storyblok">Storyblok</a> - 2021</p>

    <p class="has-text-centered"> Código fonte no <a class="link" href="https://github.com/emanuelgsouza/emanuelgsouza.dev">Github</a></p>
  </div>
</footer>