<div class="card">
  <a href="{{ project.url.url }}" class="card-image" title="Conheça o projeto {{ project.title }}">
    <figure class="image">
      <img src="{{ project.image.filename }}" alt="">
    </figure>
  </a>

  <div class="card-content">
    {% include partials/tags, tags: tags %}

    <p class="title is-4"> {{ project.title }} </p>

    <div class="buttons">
      {% if project.repository.url %}
        <a
          href="{{project.repository.url}}"
          target="_blank"
          rel="noreferrer"
          class="button is-small"
        >
          Github
        </a>
      {% endif %}

      {% if project.url.url %}
      <a
        href="{{project.url.url}}"
        target="_blank"
        rel="noreferrer"
        class="button is-small"
      >
        Link
      </a>
      {% endif %}
    </div>
  </div>
</div>