<div class="card">
  <a href="{{ project.url }}" class="card-image">
    <figure class="image">
      <img src="/images/projects/{{ project.image }}" alt="">
    </figure>
  </a>

  <div class="card-content">
    {% include partials/tags, tags: project.tags %}

    <p class="title is-4"> {{ project.name }} </p>

    <div class="buttons">
      {% if project.repository %}
        <a href="{{project.repository}}" target="_blank" class="button is-small">
          Github
        </a>
      {% endif %}

      {% if project.url %}
      <a href="{{project.url}}" target="_blank" class="button is-small">
        Link
      </a>
      {% endif %}
    </div>
  </div>
</div>