{% assign postURL = post.full_slug | concatUrl %}
<div class="post-card card">
  <div class="card-content">
    {% include partials/tags, tags: post.tag_list, max: 2 %}

    <p class="title is-4">
      <a class="has-text-black" href="{{ postURL }}" title="Confira o post '{{ post.data.title }}'">
        {{ post.data.title }}
      </a>
    </p>

    <p class="mb-4">
      {{ post.data.description }}
    </p>

    <p>
      Publicado em {{ post.published_at | readableDate }}
    </p>
  </div>
</div>